.layout {
    border:0px solid transparent;
}
.layout td {
    border:0px solid transparent;
    text-align: left;
    vertical-align: top;
    width: 50%;
    font-size: smaller;
}
.cvWorkExperience {
    width: 65% !important;
}
.cvWorkExperience li {
    text-align: justify;
    /* line-height: 25px; */
}
.cvSkillsSection {
    text-align: justify;
    line-height: 25px;
}

